@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    ul {
        display: flex;
        gap: 20px;
        list-style: none;

        a {
            text-decoration: none;
            color: $dark;
            text-transform: uppercase;
            font-weight: 500;
            padding-bottom: 63px;
        }

        a:hover {
            color: $text-hover;
            border-bottom: 6px solid $text-hover;
        }
    }
}